{% extends 'layouts/main.html.twig' %}

{% block body %}



<div class="row">
    <div class="col-12">
    	<h1>Home Page</h1>
        <h3 style="color: red;">To became an active please add your name and photo</h3>
	</div>

    <div class="col-3">

        {% if user.photo %}
            <h1>234</h1>
        {% else %}
            <img src="/uploads/images/ava_default.jpeg">
        {% endif %}

        <br><br>

        <a href="/edit_profile">
            <button type="button" class="btn btn-primary">Edit profile</button>
        </a>
    </div>

    <div class="col-8">
        
    	<h3>Email: </h3>

    </div>
 </div>

{% endblock %}